<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person</title>
</head>
<body>
<div>
  <label>Firstname</label>
  <p th:text="${person.getFirstname()}"></p>
  <label>Lastname</label>
  <p th:text="${person.getLastname()}"></p>
  <label>Email</label>
  <p th:text="${person.getEmail()}"></p>
  <label>Age</label>
  <p th:text="${person.getAge()}"></p>
  <label>Year</label>
  <p th:text="${person.getBirthYear()}"></p>

  <a th:href="@{{id}/edit(id=${person.getId()})}">Edit!</a>
<!--  <input type="button" value="Edit">-->
</div>

</body>
</html>